include LICENSE
include README.md
include *.py

recursive-include docs *.md
recursive-include docs *.png
recursive-include docs *.svg

exclude *.yml
exclude *.cruft.json
exclude *.yaml
exclude tox.ini
exclude .flake8

recursive-exclude tests *
recursive-exclude docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.yml
