include LICENSE
include README.md
include *.py
include *.yaml
include *.yml
include *.cruft.json

recursive-include docs *.md
recursive-include docs *.png

exclude *.yml
exclude *.cruft.json
exclude *.yaml
exclude tox.ini
exclude .flake8

recursive-exclude rsp_vision/config *.yml
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.yml
