.header {
    background-color: #bf8e8e;
    margin: auto;
    width: 50%;
}

.main-title {
  color: #000000;
  text-align: center;
}

.page-title{
    color: #000000;
    text-align: center;
}

.page{
    padding: 3%;
    background-color: rgb(180, 224, 224);
}

.table{
    padding: 3%;
    background-color: rgb(161, 219, 187);
}

.selected-data-container{
    width: 60%;
    margin: auto;

    background-color: rgb(154, 196, 133);
}

.load-data-button{
    margin-right: 0;
    margin-left:auto;
    border-radius: 8px;
    border-width: 0;
    text-align: center;
}

/* button, when enabled do not underline */
a:-webkit-any-link {
    text-decoration: none !important;
    /* force font to be the default one, Open Sans; */
    font: -webkit-small-control;
    margin-right: 0;
    margin-left:auto;
}

.directions-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #bf8e8e;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
